<!DOCTYPE html>
<html>
<head>
  <title>RGBYCCH REST API</title>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Documentation</h1>
<p>Run ```rake swagger:docs``` to generate the API docs. See the README.md file details.</p>

<%= yield %>

</body>
</html>
